#info {
  background-image: url(./pic_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 574px;
}

.info {
  padding: 90px 0;
  div {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;

    img {
      width: 80px;
      height: 80px;
    }

    h1 {
      font-family: Raleway;
      font-weight: 500;
      font-size: 40px;
      color: #f4f6f5;
    }
  }

  p {
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 10px;
    color: #ffffff;
  }

  button {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    padding: 21px 60px;
    color: #2c2d35;
    background-color: #eedb6d;
    border: none;
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .info {
    div {
      h1 {
      font-size: 30px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    
    }

    p {
      font-size: 16px;
    }
  }
}
