.team {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 70px 0;

 div {
    margin-bottom: 15px;
 }

  h1 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    color: #2c2d35;
  }

  p {
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #2C2D35;
    margin: 20px 0;
  }
}

.images {
    display: flex;
    gap: 30px;
}
