header {
  background-color: #e1ede6;
}

.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Raleway;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0;

  nav {
    display: flex;
    align-items: center;
    gap: 60px;

    a {
      font-weight: 500;
      font-size: 20px;
      color: #2c2d35;
      text-decoration: none;
    }

    .icon svg {
      font-size: 19px;
    }
  }
}
