.section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: 500;
    font-size: 60px;
    color: #2c2d35;
  }

  span {
    font-weight: 500;
    font-size: 60px;
    color: #598d66;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    margin: 20px 0 60px;
  }

  button {
    color: #598d66;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 60px;
    border: 1px solid #598d66 ;
    background: none;
  }
}

@media (max-width: 1000px) {
  .section {
    h1 {
    font-size: 40px;
  }
  img {
    width: 450px;
  }
  span {
    font-size: 40px;
  }
  p {
    font-size: 16px;
  }
  }
}
